## 1. Importing

In [6]:
import pandas as pd
import numpy as np

In [18]:
dataSet1 = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [22]:
dataSet1.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1413,spam,Dear U've been invited to XCHAT. This is our f...,NaN,NaN,NaN
655,ham,Tell them the drug dealer's getting impatient,NaN,NaN,NaN
1445,ham,I am in a marriage function,NaN,NaN,NaN
3913,ham,Today is ACCEPT DAY..U Accept me as? Brother S...,NaN,NaN,NaN
3895,spam,tells u 2 call 09066358152 to claim å£5000 pri...,NaN,NaN,NaN

In [24]:
dataSet1.shape

(5572, 5)

## 2. Data Cleaning

In [25]:
dataSet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [27]:
#Dropping last 3 columns because it have more missing values

In [31]:
dataSet1.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [32]:
dataSet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [33]:
dataSet1.sample

<bound method NDFrame.sample of         v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>