>Importing

In [6]:
import pandas as pd
import numpy as np

In [18]:
dataSet1 = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [13]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
441,ham,You were supposed to wake ME up &gt;:(,NaN,NaN,NaN
590,spam,For ur chance to win a å£250 wkly shopping spr...,NaN,NaN,NaN
1632,ham,Hello my little party animal! I just thought I...,NaN,NaN,NaN
1467,ham,I wont touch you with out your permission.,NaN,NaN,NaN
4042,ham,I am literally in bed and have been up for lik...,NaN,NaN,NaN

In [20]:
df.shape

(5572, 5)